.menu-demo {
  box-sizing: border-box;
  height: 100%;
  /* background-color: var(--color-neutral-2); */
}

.menu-demo .arco-menu-inner {
  overflow-y: auto;
}
.arco-menu-collapse-button {
  border-top: 1px solid var(--color-border-1, #f2f3f5) !important;
}
.menu_list {
  display: flex;
  max-width: 220px;
  flex-direction: column;
  align-items: flex-start;
  /* align-self: stretch; */
  border-right: 1px solid var(--color-border-2, #e5e6eb);
  .menu-item{
    min-width: 220px;
  }
}
.yorg {
  display: flex;
  padding: 16px;
  align-items: center;
  box-sizing: border-box;
  width: 48px;
  gap: 10px;
  align-self: stretch;
  border-bottom: 1px solid var(--color-border-1, #f2f3f5);
  background: var(--color-bg-2, #fff);
}
.logo {
  width: 86.662px;
  height: 22px;
  flex-shrink: 0;
  background: url(../../assets//yorg.png), #fff;
  text-indent: -9999px; /**seo**/
  margin: 16px;
}
.logoMin {
  width: 86.662px;
  height: 22px;
  flex-shrink: 0;
  background: url(../../assets//yorg.png), #fff;
  text-indent: -9999px; /**seo**/
  margin: 16px;
}
