.container {
  padding: 12px 16px;
  background: #f7f8fa;
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  // width: 1220px;
  margin: 0 auto;
  .header {
    display: flex;
    justify-content: space-between;
  }
}

.main {
  margin-top: 16px;
  padding: 24px;
  border-radius: 12px;
  background-color: #fff;
  box-sizing: border-box;
  height: 744px;
}

.main_header {
  display: flex;
  justify-content: space-between;
}

.main_wrapper {
  margin: 24px 0 0 0;
  // display: flex;
  // flex-wrap: wrap;
  display: grid;
  grid-template-columns: 24% 24% 24% 24%;
  gap: 15px;
}

.page_container {
  margin-top: 24px;
  display: flex;
  justify-content: center;
}
.main_page {
  display: flex;
  position: relative;
  padding-left: 25px;
  width: 100%;
}
.popup-content {
  position: absolute;
  top: 100px;
  left: 500px;
}
.popup-bg {
  opacity: 0.35;
  background: var(--color-bg-1, #f7f8fa);
  mix-blend-mode: darken;
  filter: blur(8px);
}
.arco-modal-header .arco-modal-title {
  text-align: start;
}
.top_view {
  text-align: left;
}
.arco-modal-content {
  padding: 0;
}
.filterCard {
  display: inline-flex;
  padding: 6px;
  .filterTitle {
    overflow: hidden;
    color: #1d2129;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
    padding-left: 6px;
  }
  .filterCardCol {
    display: flex;
    min-width: 150px;
    flex-direction: column;
    align-items: flex-start;
  }
}
.right_button {
  display: flex;
  margin-right: 480px;
}
.flex {
  display: flex;
}
.middle_view {
  display: flex;
  width: 600px;
}
.content_top {
  display: flex;
  padding: 16px 0px;
  flex-direction: column;
  gap: 16px;
  align-self: stretch;
}
.content_bottom {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.toptitle {
  margin-top: 10px;
  margin-bottom: 3px;
}

.line {
  display: flex;
  padding: 3px 8px 3px 0px;
  align-items: center;
  align-self: stretch;
  cursor: pointer;
}
.extra_btn {
  // margin-left: -50px !important;
  display: flex;
  justify-content: space-between;
}
.arco-upload-trigger-drag {
  padding: 20px 0;
}
.trigger {
  border-radius: 8px;
  border: 1px dashed #c9cdd4;
  padding: 32px 16px;
  text-align: center;
}
.arco-menu-icon-suffix {
  display: none;
}
