
.branch_modal_wrapper  .arco-modal-content {
  padding: 24px 0 0;
}
.branch_modal_wrapper .arco-select-view {
  border-radius: 8px;
}
.branch_modal_wrapper {
  border-radius: 8px;
  width: 500px;
  // height: 272px;
}
.footer_wrapper {
  
}