.test {
  width: 100%;
}
.test > pre > div {
  background-color: #fff !important;
  margin: 0 !important;
  padding: 22px 12px !important;
  width: 100% !important;
}
.test > pre > div > code {
  width: 100% !important;
  background-color: #fff !important;
  display: block;
}
.test > pre {
  margin: 0 !important;
  width: 100% !important;
}
.test > pre > div .linenumber {
  color: #000 !important;
  font-style: normal !important;
}