.AgentChatItem {
  width: 426px;
  // height: 296px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* gap: 16px; */
  align-self: stretch;
  border-radius: 8px;
  //  background: var(--color-fill-1, #f7f8fa);
  .chatText {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    padding: 12px;
    align-self: stretch;
    margin-top: -5px;
    margin-bottom: 16px;
    background: var(--color-fill-1, #f7f8fa);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }
  .text_icon {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 8px;
    align-self: stretch;
  }
}
